{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% include 'includes.html' %}
    <title>{{ quiz }} Dashboard</title>
    <script type="text/javascript" src="{% static 'js/django-admin.multiselect.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/django-admin-widgets.css' %}">
</head>
<body>
{% include 'navbar.html' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <h1 style="text-transform: capitalize">{{ quiz }}</h1>
            <hr>
            <h4>Stating Time: {{ quiz.start_time }}</h4>
            <h4>Endinig Time: {{ quiz.end_time }}</h4>

        </div>
        <div class="col-md-7">
            <img src="{{ quiz.display_picture.url }}" class="img-thumbnail img-responsive"
                 style="width:600px;height:300px;float:right;align:center;margin-right: 14.5%;">
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <div class="well-lg">
                <h3>Quiz Details:</h3>

                <p class="text-primary" style="font-size: large">{{ quiz.description }}</p>
                <hr>
                <h3>Quiz Stats:</h3>

                <p>Students Participating:{{ regiter_count }}</p>
            </div>
        </div>
        <div class="col-md-5">
            <div class="well-lg">
                <h3>Manage MCQs:</h3>

                <div class="btn-group-vertical" role="group" aria-label="...">
                    <button type="button" class="btn btn-primary" data-target="#add_mcqs" data-toggle="modal"
                            id="addmcq" style="width: 350px">Add MCQS
                    </button>
                    <hr>

                    <button type="button" class="btn  btn-danger" data-target="#delete_mcqs" data-toggle="modal"
                            id="deletemcq" style="width: 350px">Remove MCQs
                    </button>

                    <h3>Manage Programs:</h3>

                    <div class="btn-group-vertical" role="group" aria-label="...">
                        <button type="button" class="btn btn-primary" data-target="#add_prgs" data-toggle="modal"
                                id="addprg" style="width: 350px">Add Programs
                        </button>
                        <hr>

                        <button type="button" class="btn  btn-danger" data-target="#delete_prgs" data-toggle="modal"
                                id="deleteprg" style="width: 350px">Remove Programs
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!--add mcq to quiz modal-->
<div class="modal fade" id="add_mcqs" role="dialog">
    <div class="modal-dialog" style="width:50%">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Add mcqs to {{ quiz }}</h3>
            </div>
            <form class="input-group" method="POST" action="/add_mcqs/?quiz={{ quiz.id }}&to_do=add">
                {% csrf_token %}
                <div class="modal-body">

                    <select name='mcqs' multiple class="form-control"
                            id="mcq_select">
                        {% for mcq in mcqs %}
                            {% if quiz in mcq.quiz.all %}
                                <option value='{{ mcq.id }}' selected='selected'>{{ mcq }} </option>
                            {% else %}
                                <option value={{ mcq.id }}>{{ mcq }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <script type="text/javascript">addEvent(window, "load", function (e) {
                        SelectFilter.init("mcq_select", "MCQs", 0, "/static/");
                    });</script>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type='submit'>Add</button>
                    <button class="btn btn-danger" data-dismiss="modal">CLOSE</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--delete mcq from quiz modal-->
<div class="modal fade" id="delete_mcqs" role="dialog">
    <div class="modal-dialog" style="width:50%">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Remove mcqs to {{ quiz }}</h3>
            </div>
            <form class="input-group" method="POST" action="/add_mcqs/?quiz={{ quiz.id }}&to_do=delete">
                {% csrf_token %}
                <div class="modal-body">

                    <select name='mcqs' multiple="multiple" class="form-control"
                            id="mcq_remove">
                        {% for mcq in mcqs %}
                            {% if quiz in mcq.quiz.all %}
                                <option value='{{ mcq.id }}' selected='selected'>{{ mcq }} </option>
                            {% else %}
                                <option value={{ mcq.id }}>{{ mcq }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <script type="text/javascript">addEvent(window, "load", function (e) {
                        SelectFilter.init("mcq_remove", "MCQs", 0, "/static/");
                    });</script>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type='submit'>Remove</button>
                    <button class="btn btn-danger" data-dismiss="modal">CLOSE</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--add prg to quiz modal-->
<div class="modal fade" id="add_prgs" role="dialog">
    <div class="modal-dialog" style="width:45%">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Add Programs to {{ quiz }}</h3>
            </div>
            <form class="input-group" method="POST" action="/add_prgs/?quiz={{ quiz.id }}&to_do=add">
                {% csrf_token %}
                <div class="modal-body">
                    <select name='prgs' multiple class="form-control"
                            id="prgs_select">
                        {% for prg in prgs %}
                            {% if quiz == prg.quiz %}
                                <option value='{{ prg.id }}' selected='selected'>{{ prg }} </option>
                            {% else %}
                                <option value={{ prg.id }}>{{ prg }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <script type="text/javascript">addEvent(window, "load", function (e) {
                        SelectFilter.init("prgs_select", "Programs", 1, "/static/");
                    });</script>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type='submit' style="width: 100px">ADD</button>
                    <button class="btn btn-danger" data-dismiss="modal" style="width: 100px">CLOSE</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--delete mcq from quiz modal-->
<div class="modal fade" id="delete_prgs" role="dialog">
    <div class="modal-dialog" style="width:50%">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Remove Programs from {{ quiz }}</h3>
            </div>
            <form class="input-group" method="POST" action="/add_prgs/?quiz={{ quiz.id }}&to_do=delete">
                {% csrf_token %}
                <div class="modal-body">

                    <select name='prgs' multiple="multiple" class="form-control"
                            id="prg_remove">
                        {% for prg in prgs %}
                            {% if quiz == prg.quiz %}
                                <option value='{{ prg.id }}' selected='selected'>{{ prg }} </option>
                            {% else %}
                                <option value={{ prg.id }}>{{ prg }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <script type="text/javascript">addEvent(window, "load", function (e) {
                        SelectFilter.init("prg_remove", "Programs", 1, "/static/");
                    });</script>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type='submit'>Remove</button>
                    <button class="btn btn-danger" data-dismiss="modal">CLOSE</button>
                </div>
            </form>
        </div>
    </div>
</div>


</html>