{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% include 'includes.html' %}
    <title>{{ quiz }} Dashboard</title>
    <script type="text/javascript" src="{% static 'js/django-admin.multiselect.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/django-admin-widgets.css' %}">
</head>
<body>
{% include 'navbar.html' %}
<div class="container-fluid">
    {{ message }}
    <h4>{{ quiz }}</h4>
    <button type="button" class="btn btn-primary" data-target="#add_mcqs" data-toggle="modal"
            id="mcqadd">Add MCQS
    </button>
    <hr>

    <button type="button" class="btn btn-primary" data-target="#delete_mcqs" data-toggle="modal"
            id="mcqadd">Remove MCQs
    </button>
</div>
</body>
<!--add mcq to quiz modal-->
<div class="modal fade" id="add_mcqs" role="dialog">
    <div class="modal-dialog" style="width:50%">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Add mcqs to {{ quiz }}</h3>
            </div>
            <form class="input-group" method="POST" action="/add_mcqs/?quiz={{ quiz.id }}&to_do=add">
                {% csrf_token %}
                <div class="modal-body">

                    <select name='mcqs' multiple class="form-control"
                            id="mcq_select">
                        {% for mcq in mcqs %}
                            {% if quiz in mcq.quiz.all %}
                                <option value='{{ mcq.id }}' selected='selected'>{{ mcq }} </option>
                            {% else %}
                                <option value={{ mcq.id }}>{{ mcq }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <script type="text/javascript">addEvent(window, "load", function (e) {
                        SelectFilter.init("mcq_select", "MCQs", 0, "/static/");
                    });</script>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type='submit'>Add</button>
                    <button class="btn btn-danger" data-dismiss="modal">CLOSE</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--delete mcq from quiz modal-->
<div class="modal fade" id="delete_mcqs" role="dialog">
    <div class="modal-dialog" style="width:50%">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Remove mcqs to {{ quiz }}</h3>
            </div>
            <form class="input-group" method="POST" action="/add_mcqs/?quiz={{ quiz.id }}&to_do=delete">
                {% csrf_token %}
                <div class="modal-body">

                    <select name='mcqs' multiple="multiple" class="form-control"
                            id="mcq_remove">
                        {% for mcq in mcqs %}
                            {% if quiz in mcq.quiz.all %}
                                <option value='{{ mcq.id }}' selected='selected'>{{ mcq }} </option>
                            {% else %}
                                <option value={{ mcq.id }}>{{ mcq }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <script type="text/javascript">addEvent(window, "load", function (e) {
                        SelectFilter.init("mcq_remove", "MCQs", 0, "/static/");
                    });</script>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type='submit'>Remove</button>
                    <button class="btn btn-danger" data-dismiss="modal">CLOSE</button>
                </div>
            </form>
        </div>
    </div>
</div>

</html>