{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>CodeChamps Password Reset</title>
    {% include 'includes.html' %}
    <script>
        //Ajax Update
        $(document).ready(function () {
            // using jQuery
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            var csrftoken = getCookie('csrftoken');
            //Profile Updation Ajax query
            $("#form").submit(function () {
                var email = $("#email").val();
                {

                        $.ajax({
                            type: "POST",
                            url: "/reset/",
                            data: {"email": email},
                            success: updateSuccess,
                            headers: {
                                'X-CSRFToken': csrftoken
                            },
                            dataType: 'html'
                        });
                        //alert($("#search").val());
                    }
                    return false;

            });
        })
        function updateSuccess(data, status, jqXHR) {
            $("#result").html(data);
        }
        $(function () {
            $("#form").validate({
                rules: {
                    email: {
                        required: true

                    }
                },
                messages: {
                    email: {
                        required: "Can't you see? I m asking for your EMAIL-ID!!"
                    }
                }
            });
        });

    </script>

</head>
{% block content %}
    <body>
    {% include 'index_navbar.html' %}
    <div class="row">
        <div class="container">
            <div class="col-md-5">
                <br>
                <br>
                <h4>Forgot your password??<br>Give us your email and we will contact u...</h4><br>

                <form id="form" class="form_horizontal" action='' method="POST">
                    <!-- need to be passed 	for security purpose -->
                    {% csrf_token %}
                    <div class="form-group form-lg">

                        <div class="input-group">

                            <input class="form-control" type="email" name='email' id="email" placeholder='Your email'/>
                            <br>
                            <hr>
                            <input class="btn btn-primary " type="submit" value="send" align="right">

                            <div id="result">

                            </div>
                        </div>

                    </div>

                </form>

            </div>
        </div>

    </body>
{% endblock %}
