{% load static %}
{% include 'includes.html' %}
<div class="navbar navbar-default " role="navigation" style="border-radius: 0px;">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand" href="/">CodeChamps<small>The Game is ON!</small></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

    </div>
</div>